.home {
  text-align: center;
}

.imageHome {
  height: auto;
  width: 85%;
}

@media screen and (max-width: 850px) {
  .homeTitle {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 650px) {
  .homeTitle {
    font-size: 0.6em;
  }
}